# dependencies
/node_modules

# Truffle Contract JSONs
/client/src/contracts

# Buidler Contract JSONs
/artifacts

# Buidler compilation cache
/cache

# Accounts for testing
/accountsList.js 

# Exported function gas costs
/gasTestData.csv

