.wrapper {
  min-height: 100vh;
  padding-top: 12rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}
