.wrapper {
  width: 42rem;
}

.boldStaticRowInfo {
  font-family: "Futura BT heavy" !important;
  font-weight: 500 !important;
}

.info {
  max-width: 34rem;
  margin: 0 auto;
}

.action {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.sentence {
  max-width: 36rem;
  margin: 0 auto;
  font-family: "Futura BT light";
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--black);
  line-height: 1.15;
}

.sentence:not(:last-child) {
  margin-bottom: 1rem;
}

.bold {
  font-weight: 700;
}
