.wrapper {
  width: 100%;
  padding: 0.9rem 1.6rem 1.5rem 4.3rem;

  display: flex;
  align-items: center;

  box-shadow: var(--box-shadow-lg);
  background-color: var(--white);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
}

.logo {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 0.9rem;
  background-color: var(--primary);
  margin-right: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Futura BT light";
  font-size: 2.4rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.48px;
  color: var(--white);
}
