.wrapper {
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  max-width: 42rem;

  font-family: "Futura BT light";
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: var(--tertiary-text);

  text-align: center;
  line-height: 1.15;
}
