.staticRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Futura BT light";
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: var(--gray);

  margin-bottom: 2rem;
}

.staticAmountsContent {
  font-family: "Futura BT light";
  letter-spacing: -0.48px;

  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-align: left;
  color: var(--gray);

  min-width: 26rem;
  margin-left: 4rem;
  display: flex;
}

.success {
  font-family: "Futura BT medium";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: var(--green-light);
}

.warning {
  font-family: "Futura BT medium";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: var(--orange);
}

.danger {
  font-family: "Futura BT light";
  font-size: 2rem;
  letter-spacing: -0.4px;
  text-align: left;
  color: var(--red);
}

.boldAmount {
  font-family: "Futura BT heavy";
  font-weight: 500;
}

.labelPrimary {
  color: var(--primary);
}
