.head {
  width: 42rem;
}

.total {
  padding: 2.2rem 1.4rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--primary);
}

.totalStaked {
  font-family: "Futura BT light";
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #2b2b2b;
}

.totalAPR {
  padding: 1rem 2.4rem;
  border-radius: 0.9rem;
  background-color: #e0f3ff;

  font-family: "Futura BT light";
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #191919;
}

.title {
  padding: 1.8rem;
  font-family: "Futura BT medium";
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid var(--primary);
}

.footer {
  font-family: "Futura BT light";
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #2b2b2b;
  text-align: center;
  line-height: 1.15;
}

.footerLink {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
