@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

@font-face {
  font-family: "Karbon";
  src: url("https://uploads-ssl.webflow.com/5e88b29fec626f2a732892f7/5e898ba6fbc2c0580ed6fa30_karbon-web-semibold.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e88b29fec626f2a732892f7/5e898ba6ec626f3d832c9f02_karbon-web-semibold.eot")
      format("embedded-opentype"),
    url("https://uploads-ssl.webflow.com/5e88b29fec626f2a732892f7/5e898ba64fbaeaaaf7204726_karbon-web-semibold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Karbon";
  src: url("https://uploads-ssl.webflow.com/5e88b29fec626f2a732892f7/5e898ba6acdbb5464f3b1cb5_karbon-web-medium.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e88b29fec626f2a732892f7/5e898ba658edde1ff87351b6_karbon-web-medium.eot")
      format("embedded-opentype"),
    url("https://uploads-ssl.webflow.com/5e88b29fec626f2a732892f7/5e898ba6cce5fb5a7dadb620_karbon-web-medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}
