.wrapper {
  position: fixed;
  z-index: 1030;
  bottom: 2.7rem;
  left: 0;

  background-color: var(--white);
  box-shadow: var(--box-shadow-lg);

  padding: 4rem 4rem 4rem 3rem;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;

  text-align: right;
}

.value {
  font-family: "Futura BT light";
  font-size: 3.4rem;
  font-weight: 300;
  font-stretch: normal;
  letter-spacing: -0.83px;
  color: var(--black);
  margin-right: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.text {
  font-family: "Futura BT heavy";
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--primary);
  line-height: 1;
}
