name: Release UI to GitHub Pages

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
    types: [opened, reopened, synchronize]

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - run: yarn install --frozen-lockfile
      - run: yarn build:dev-frontend
      
      - uses: actions/upload-artifact@v3
        with:
          name: frontend-build-${{ github.sha }}
          path: packages/dev-frontend/build

  deploy-master:
    needs: build-frontend
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: frontend-build-${{ github.sha }}

      - name: Deploy Master
        uses: peaceiris/actions-gh-pages@v3.7.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          destination_dir: ./main

  deploy-pull-request:
    needs: build-frontend
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: frontend-build-${{ github.sha }}

      - name: Deploy Pull Request
        uses: peaceiris/actions-gh-pages@v3.7.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          destination_dir: ${{ github.head_ref }}

  post-pr-comment:
    needs: deploy-pull-request
    runs-on: ubuntu-latest

    steps:
      - name: View context attributes
        uses: actions/github-script@v6
        with:
          script: console.log(context)
        
      - name: PR comment
        uses: actions/github-script@v6
        env:
          HEAD_REF: '${{github.head_ref}}'
        with:
          script: |
            val fullName = context.payload.repository.full_name.split('/')
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Deployed to https://${fullName[0]}.github.io/${fullName[1]}/${process.env.HEAD_REF}`
            })